<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mappedin.examples.singlevenue">

    <application
        android:name=".ApplicationSingleton"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LocationActivity"
            android:label="@string/title_activity_location"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.mappedin.sdk.Username"
            android:value="Your key here"/>
        <meta-data
            android:name="com.mappedin.sdk.Password"
            android:value="Your secret here"/>
        <meta-data
            android:name="com.mappedin.sdk.DataSchema"
            android:value="Your data schema here"/>
        <meta-data
            android:name="com.mappedin.sdk.SearchKey"
            android:value="Your search key here"/>
        <meta-data
            android:name="com.mappedin.sdk.SearchSecret"
            android:value="Your search secret here"/>
    </application>

</manifest>