<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mappedin.examples.helloworld">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
        //In order to use the Mappedin Android SDK you will need an API Key and Secret.
        // To get you started we've provided a key and secret in this repo that has
        // access to some demo venues.
        //
        // When you're ready to start using your own venues with the Mappedin iOS SDK
        // you will need to contact a Mappedin representative to get your own unique
        // key and secret.
        -->

        <meta-data android:name="com.mappedin.sdk.Username" android:value="5eb0412d91b055001a68e999"/>
        <meta-data android:name="com.mappedin.sdk.Password" android:value="rvJ4gYNYV3GSePUO5FUNtU9EBBMJAlHq9dBBkZcot1GCtZUr"/>
        <meta-data android:name="com.mappedin.sdk.DataSchema" android:value="d5b94aa0"/>
        <meta-data android:name="com.mappedin.sdk.SearchKey" android:value="theBiutawieneugai2ongoowu3meipai"/>
        <meta-data android:name="com.mappedin.sdk.SearchSecret" android:value="ahte1Ei7ieXoh6ra"/>
    </application>

</manifest>